.wrapper {
  padding-top: 1em;
  padding-bottom: 2em;
}

h2 {
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 1.4em;
  display: inline;
}

.language {
  margin-left: 1em;
  font-style: italic;
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 1em;
}

p {
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 1em;
}

a {
  @extend p;
  color: #c3ffff;
  text-decoration: none;
}
