.wrapper {
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 20px;
}

.container {
  //max-width: 600px;
  //max-height: 600px;
  //min-width: 300px;
  //width: 50%;
  //height: 80%;
  //height: 600px;
  max-height: 100%;
}

h1 {
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 1.6em;
  display: inline;
}

.exit {
  margin-left: 0.8em;
  font-style: italic;
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 0.8em;
}
