<div class="wrapper">
  <canvas #rCanvas id="rCanvas"></canvas>
<!--  <span id="fpsLabel"></span>-->
  <div *ngIf="(hintText$ | async) as hintText"
       class="hint-overlay"
       fxLayout="row" fxLayoutAlign="center center">
    <p>{{hintText}}</p>
  </div>

  <div *ngIf="isShowBackdrop$ | async" class="backdrop"></div>

  <div *ngIf="isShowEmail$ | async" class="fullpage-container" fxLayout="row" fxLayoutAlign="center center">
    <div class="email-overlay"
         fxLayout="column" fxLayoutAlign="center center"
         [cdkCopyToClipboard]="getEmailAddress()"
         [appClickable]="true"
         (appClickOutside)="closeEmailOverlay()"
         [clickOutsideIgnoreFirstNoOfClicks]="1"
         >
      <img src="assets/images/email_white.png" [alt]=getEmailAddress()>
      <p>Click to copy to clipboard</p>
    </div>
  </div>


  <div *ngIf="isShowFps$ | async" fxLayout="row" fxLayoutAlign="end end"  class="fullpage-container">
    <p class="fpsLabel">FPS: {{this.babylonSceneService.engine.getFps() | number: '1.2-2'}}</p>
  </div>

  <app-projects *ngIf="(camService.currentCameraPos$ | async)?.name === 'projects'" class="fullpage-container"></app-projects>

</div>

